<% layout('layout/Boilerplate') %>
<div id="carouselExampleInterval" class="carousel slide mx-auto" data-bs-ride="carousel" style="width: 1100px;">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="https://www.geektrust.in/blog/wp-content/uploads/2017/04/Job-Aware.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://st2.depositphotos.com/3591429/10568/i/600/depositphotos_105683184-stock-photo-job-search-career-concept.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://static.toiimg.com/thumb/69250249.cms?width=680&height=512&imgsize=1186598" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

